<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <!-- Include the ThebeLab config so it gets reloaded on each page -->
        {% include js/thebelab-page-config.html %}

        <!-- .js-show-sidebar shows sidebar by default -->
        <div id="js-textbook" class="c-textbook {% if site.show_sidebar %}js-show-sidebar{% endif %}">
            {% include sidebar.html %}
            {% if page.search_page != true %}
            {% endif %}
            {% include topbar.html %}
            <main class="c-textbook__page" tabindex="-1">
                <div class="c-textbook__content" id="textbook_content">
                    {{ content }}
                </div>
                <div class="c-textbook__footer" id="textbook_footer">
                    {% include page-nav.html %}
                    <script
                        src="https://utteranc.es/client.js"
                        repo="jonasdaugalas/notes-comments"
                        issue-term="pathname"
                        theme="github-light"
                        crossorigin="anonymous"
                        async>
                    </script>
                    {% include footer.html %}
                </div>
            </main>
        </div>
    </body>
</html>
